.dashboardItem {
    min-height: 15vh;
    width: 20vh;
    padding: 2vh 1vh;
    margin: 2vh .5vh;
    border: solid;
    justify-content: space-between;
    background: #f8f1e5;
}

.dashBoard p {
    font-size: 3vh;
}
.dashBoard ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.fa.dashboardIcon {
    font-size: 8vh;
    padding: 1vh 1vh 1.5vh;
}