.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.row.stretch *{
    flex-grow: 1;
}
.row.alignCenter,
.column.alignCenter {
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
}
.padding {
    padding: 1.5vh;
}
.padding-left {
    padding-left: 1.5vh;
}
.padding-right {
    padding-right: 1.5vh;
}
.fullWidthButton {
    width: 100%;
    font-size: 2.5vh;
    padding: 1vh 0;
    margin-top: 1vh;
    background: #426e86;
    color: #f8f1e5;
    border: none;
    border-radius: .3vh;
    font-family: Raleway;
    font-weight: bold;
}
.validityIconInside {
    max-width: 0px;
    position: relative;
    right: 3.5vh;
}
.validColor {
    color: #A1be95;
}
.invalidColor {
    color: #FFA49F;

}
.hidden {
    display: none;
}
.pointer {
    cursor: pointer;
}
.margin {
    margin: 1.5vh;
}
.margin-right {
    margin-right: 1.5vh;
}
.margin-top {
    margin-top: 1.5vh;
}
.margin-left {
    margin-left: 1.5vh;
}
.margin-bottom {
    margin-bottom: 1.5vh;
}
.underline {
    text-decoration: underline;
}
.smallText {
    font-size: 2vh;
}
.largeText {
    font-size: 3.5vh;
}
.width90 {
    width: 90%;
}
.width45 {
    width: 45%;
}
.width100 {
    width: 100%;
}
.maxWidth45 {
    max-width: 45%;
}
.flex-table td {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
}
.flex-table tr {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
}
.flex-wrap {
    flex-wrap: wrap
}
.wrapper {
    padding: 2.5vh;
}
.slow-spin {
    animation: fa-spin 6s infinite linear;
}
.space-between {
    justify-content: space-between;
}
.labelButton {
    padding: 1vh 2vh;
    background: #426e86;
    color: #f8f1e5;
    border-radius: 0.4vh;
    cursor: pointer;
}
.fa.labelButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
td {
    border: solid 1px #626464;
}
td > p:nth-child(2) {
    padding: 0 0.2vh;
}

p {
    margin: 2px 0;
}
h2 {
    font-size: 1.3em;
    border-bottom: solid 0.2vh;
    padding-bottom: 0.5vh;
    margin: 1.5vh 0 0.5vh;
}
h3 {
    margin: 10px 0 5px;
}
h4 {
    margin: 0px 0 5px;
}
ul {
    margin: 0px;
}
input {
    padding: 0.5vh;
    font-size: 2.5vh;
    border-radius: 0.3vh;
    text-align: center;
    background: #f8f1e5;
    border: solid 0.1vh #626464;
    box-sizing: border-box;
}
textarea {
    background: #f8f1e5;
    border: .1vh solid #626464;
    padding: .5vh;
    font-size: 2.5vh;
    border-radius: .3vh;
    height: 9vh;
    font-family: Raleway;
    box-sizing: border-box;
}
button {
    cursor: pointer;
}
body {
    height: 100vh;
    width: 100vw;
    background: #fafafa;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 2.4vh;
    font-family: Raleway;
    overflow: hidden;
}
select {
    font-size: 2.5vh;
}
option {
    font-size: 2.5vh;
}
#root {
    text-align: center;
    height: calc(100% - 7.2vh);
    background: #FFF9ED;
    color: #2f3131;
    position: relative;
    overflow: hidden;
    top: 7.2vh;
    user-select: none;
}
.appRoot{
    height: 100%;
    overflow-y: auto;
}
.fa.fa {
    font-family: Raleway;
}
.fa.fa:before {
    font-family: FontAwesome;
}